<>
  <a style="display: inline-block; margin-right: 0.5rem;" href="/">Home</a>
  <a style="display: inline-block; margin-right: 0.5rem;" href="/about">About</a>
  <a style="display: inline-block; margin-right: 0.5rem;" href="/blog">Blog</a>
</>